<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  {% seo %}
</head>

<body>
  <header>
    <div class="container">
      <nav>
        <a href="{{ '/' | relative_url }}" class="logo">Joe Shirey</a>
        <div class="nav-links">
          <a href="{{ '/' | relative_url }}" title="Home"><i class="fa-solid fa-house"></i></a>
          <a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fa-brands fa-github"></i></a>
          <a href="https://www.linkedin.com/in/jshirey/" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </nav>
    </div>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <div class="container">
      <p class="disclaimer">The opinions expressed here are my own and do not necessarily represent those of my
        employer.</p>
      <br>
      <p>&copy; {{ "now" | date: "%Y" }} Joe Shirey</p>
    </div>
  </footer>
</body>

</html>